[submodule "templates/fastify-react"]
	path = templates/fastify-react
	url = https://github.com/Ollebolle/fastify-react
	branch = master
[submodule "templates/react"]
	path = templates/react
	url = https://github.com/Ollebolle/react
	branch = master
[submodule "templates/react-redux"]
	path = templates/react-redux
	url = https://github.com/Ollebolle/react-redux
	branch = master
